.brand-logo{
	margin-left: 10px;
}

.title-index{
	text-align: center;
	font-family: 'Anton', sans-serif;
}

body {
    padding-top: 100px;
}


.nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 0px;
    z-index: 997;
}
