.brand-logo{
	margin-left: 72px;
}

.title-index{
	text-align: center;
	font-family: 'Anton', sans-serif;
	color:#2962ff;
}

.ll{
	text-align: center;
	color:#2962ff;s
	
}

body {
    padding-top: 100px;
}


.nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 0px;
    z-index: 997;
}

.ico{
	max-height: 64px!important;
    padding: 15px 0!important;
}

.imga{
	max-width: 100%;
	height: auto;
}
